/*
toggler needs
*/
.toggleAnchor {
    border: 1px solid #cef;
    background: #cef !important;
    padding: 5px !important;
    cursor: pointer;
	outline:none;
}
 .toggleAnchor:hover{
    border: 1px solid #9cf;
}
.toggledContent {
    margin: 0;
    border: 2px solid #cef;
    border-top: none;
    padding: 1em
}


.bubble{
    position:absolute;
	padding-top:13px;
    opacity: .5; 
	background:transparent url(bubble-arrow.png) 25% 0  no-repeat;
}

.bubble div{
    position:relative;
	width: 150px; 
    padding: 10px; 
    background: #00338B; 
    -webkit-border-radius: 10px; 
    -moz-border-radius:10px; 
	font-weight:bold;
    color: #fff;
}
