<div class="portletBody">
#if ($alertMessage)
    <div class="alertMessage">$tlang.getString("gen.alert") $validator.escapeHtml($alertMessage)</div><div style="display:block;clear:both" ></div>
#end
#if ($parentId)
<p>Current Parent ID: $parentId </p>
        <form action="#toolForm("")" method="post" name="customizeForm" >
                <p class="act">
                        <input type="submit" accesskey ="s" class="active" name="$doRemove" value="$tlang.getString('gen.remove')" />
                        <input type="submit" accesskey ="x" name="$doDone" value="$tlang.getString('gen.done')" />
                </p>
        </form>
#else
<p>$tlang.getString('java.selectparent')</p>
<form action="#toolForm("")" method="post" name="customizeForm" >
#foreach($site in $sites)
    #if ($!currentSite && ($site.Id != $!currentSite.Id))
        #set ($siteIDCounter = $siteIDCounter + 1)
        <p class="radio indnt3">
            <input type="radio" name="parentSite" id="site_$siteIDCounter" value="$site.getId()" />
            <label for="site_$siteIDCounter">
                $validator.escapeHtml($site.getTitle())
            </label>
        </p>
    #end
#end
<p class="act">
  <input type="submit" accesskey ="s" class="active" name="$doSave" value="$tlang.getString('gen.save')" />
  <input type="submit" accesskey ="x" name="$doCancel" value="$tlang.getString('gen.cancel')" />
</p>
</form>
#end
</div>
