<script type="text/javascript">
<!-- hide from non-JS browsers

// -->
</script>

<div class="portletBody">
	#if ($alertMessage)<div class="alertMessage">$tlang.getString("gen.alert") $validator.escapeHtml($alertMessage)</div>#end
	<h4>$questionSet.getHeader()</h4>
	<form name = "removeSectionForm" method="post" action="#toolForm($action)">
		#foreach ($question in $questionSet.getQuestions())
			<h5>
				#if ($question.required)
					<span class ="reqStarInline">*</span>
				#end
				$question.getQuestion()
			</h5>
			#foreach($answer in $question.getAnswers())
				#if ($question.isMultipleAnswsers())
					<input type="checkbox" name="$question.getQuestion()" value="#if($answer.isFillInBlank())'fillInBlank'#else$answer.getAnswer()#end" id="$question.getQuestion()" />
				#else
					<input type="radio" name="$question.getQuestion()" value="#if($answer.isFillInBlank())'fillInBlank'#else$answer.getAnswer()#end" id="$question.getQuestion()" />
				#end
				$answer.getAnswer()
				#if ($answer.isFillInBlank())
					<input type="text" name="fillInBlank_$question.getQuestion()" value="" id="fillInBlank_$question.getQuestion()" />
				#end
				<br />
			#end
		#end
		<input type="hidden" name="back" value="1" />
		<input type="hidden" name="template-index" value="54" />
		<input type="hidden" name="continue" value="$continueIndex" />
					
		<p class="act">
			<input type="submit" class="active" accesskey="s" name="eventSubmit_doContinue" value="$tlang.getString('gen.continue')" />
			<input type="submit" accesskey="b" name="eventSubmit_doBack" value="$tlang.getString('gen.back')"  />
			<input type="submit" accesskey="x" name="eventSubmit_doCancel" value="$tlang.getString('gen.cancel')" />
		</p>

	</form>
</div>
