# the default roles for joiner of the site
siteinfo.default_joiner_role=List of default roles for site joiner for various site types. If any role in the site matches one entry here, the role will be listed as the default chosen role for joiner in Site Info "Manage Access" page.

# whether to show the Options page (contains settings for Site Info list view) or not
siteinfo.show.options=If true, show the Options page link in Site Info, which contains settings for the Site Info list view. By default, the complete paged participant list will be shown. User can change the default setting to show no participant first until a section filter or a search criteria is entered. If false, no Options page link will be shown.